<%= link_to 'New Survey', new_survey_path %>
<table class="table">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Introductory Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |survey| %>
      <tr>
        <td><%= survey.created_at %></td>
        <td><%= survey.introductory_text %></td>
        <td>
          <%= link_to edit_survey_path(survey), class: "btn btn-xs btn-success" do %>
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end -%>
        </td>
        <td>
          <%= link_to survey_questions_path(survey), class: "btn btn-xs btn-success" do %>
            <span class="glyphicon glyphicon-edit"></span> Questions
          <% end -%>
        </td>
        <td>
          <%= link_to survey_path(survey), method: :delete, class: "btn btn-xs btn-danger" do %>
            <span class="glyphicon glyphicon-remove"></span> Destroy
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= will_paginate collection, renderer: BootstrapPagination::Rails %>
